h1{
    color: green;
}
h1:hover{
    text-shadow: 2px 2px yellowgreen;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins',sans-serif;
    cursor: url("cursor.cur"), auto;
    max-width: 100%;
    height: auto;
    
}
    
body{
    background: linear-gradient(darkred,darkblue,darkgreen);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0%;
    max-width: 100%;
}
h1{
    font-family: "Griffy", system-ui;
    font-weight: 400;
    font-style: normal;
    }
.navbar{    
    position: fixed;
    top: 0;
    width: 100vw;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: large;
    padding: 20px 100px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2) ;
    border-top: 2px solid rgba(255, 255, 255, 0.2) ;
    z-index: 999;
    transition: .4s ease-out;
    background: url("navbarbackround.jpg");
    
}

.logo{
    color: green;
    font-size: 25px;
    text-decoration: none;
    font-family: "Griffy", system-ui;
    font-weight: 700;
    font-style: normal;
    
}
.logo:hover{
    text-shadow: 2px 2px 3px yellowgreen;
}

.content a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    margin-left: 35px;
    transition: .2s;
    position: relative;
    padding: 5px;
}

.content a:hover{
    text-shadow: 2px 2px 3px rgb(107, 0, 0);
}
.content a::after{
    position: absolute;
    z-index: -1;
    content: '';
    background-color: white;
    height:100%;
    width:0px;
    left: 0;
    top: 0;
    transition: .5s ease-out;
    border-radius: 15px;
}
.content a:hover::after{
    content: '';
    background-color: rgba(255, 255, 255, 0.575);
    backdrop-filter: blur(10px);
    height: 100%;
    width: 100%;
    bottom: 0;
    left: 0;
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 70dvw;
    z-index: 99;
    background: url("navbarbackround.jpg");
    backdrop-filter: blur(10px);
    flex-direction: column;
    border-left: 2px solid rgba(255, 255, 255, 0.2) ;
    transform: translateX(100%);
    transition: transform .4s ease-in-out;
    display: none;
    

}

.contentsidebar a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    margin-left: 35px;
    transition: .3s;
    display: flex;
    flex-direction: column;
    width: 250px;
    padding-right: 20px;
    padding-top: 20px;
}

.contentsidebar a:hover{
    color: rgb(88, 2, 2);
}
.logosidebar{
    color: white;
    font-size: 25px;
    text-decoration: none;
    font-weight: 600;
    margin-left: 20px;
    margin-top: 0;
}
.menu{
    color: white;
    font-size: 25px;
    text-decoration: none;
    cursor: pointer;
}
.menu:hover{
    color: rgb(88, 2, 2);
}
.close-butn{
    align-self: flex-end;
    font-size: 25px;
    color: white;
    padding-top: 10px;
    
}
.close-butn:hover{
    color: rgb(88, 2, 2);
}
#toggle:checked ~ .sidebar{
    transform: translateX(0);
    display: flex;
}
#toggle:checked ~ .navbar{
    transform: translateY(-100%);
}

.cards{
    width: 100%;
    min-height: 400px;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    justify-content: center;
    align-items: center;
    gap:40px;
}
.card{
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
    background-color: rgb(88, 2, 2);
    border: 2px solid rgba(255, 255, 255,.2) ;
    height: 350px;
    width: 350px;
    justify-self: center;
    backdrop-filter: blur(2px);
    font-weight: 600;
    border-radius: 15px;    
    z-index: 4;
    transition: transform .3s;
    
}
.blur{
    width: 100%;
    background-color: rgb(88, 2, 2);
    height: 350px;
    max-width: 350px;
    position: relative;
    border-radius: 15px;
    z-index: 10; 
    position: relative;
    

}
@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.blur::after, .blur::before{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    background: linear-gradient(var(--angle), transparent 10%,darkred,darkblue,darkgreen);
    z-index: -3;
    top: 0;
    left: 0;
    transform: scale(102%);
    border-radius: 15px;
    transition: 3s ease;
    transition: opacity .3s ;
    animation: 3s spins linear infinite ;
}
.blur:hover::before,.blur:hover::after{
    opacity: .5;
    filter: blur(3px);
}
.blur:hover::after{
    filter: blur(3px);
    height: 105%;
    width: 105%;
    position: absolute;
    translate: -2% -2%;
    background:linear-gradient(green,blue);
}
@keyframes spins{
    from{
        --angle:0deg;
    }
    to{
        --angle:360deg;
    }
    
}



.card img{
    width: 60px;
    height: 40px;
    opacity: 0;
    z-index: 1;
}

@media (max-width: 950px) {
    .content a{
        display: none;
    }
}
@media (min-width: 951px) {
    .menu{
        display: none;
    }
    
}
@media (min-width: 340px) {
    .navbar{
        position: fixed;
        padding: 20px 30px;
    }
    .sidebar{
        padding-left: 10px;
        padding-right: 30px;
        display: flex;
        justify-content: start;
        align-items: start;
    }
}
.logos{
    display: flex;
    align-items: center;
    margin: 0;
}
.food{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 15px;
    opacity: 1;
    transition: opacity .7s ease ;
    display:block;
    z-index: 10;
    transition:.5s ease;
}


.card h3{
    opacity: 0;
    z-index: 3;
    margin-top: 60px;
}

.card p{
    opacity: 0;
    font-weight: 100 !important;
    text-shadow: 1px 1px 1px black;
    
}
.blur:hover .food{
    opacity: 0;
    z-index: -1;
    transform: scale(50%);
}
.blur:hover .card h3{
    opacity: 1;
}
.blur:hover .card img{
    opacity: 1;
}
.blur:hover .card p{
    opacity: 1;
}
.blur:hover .card {
    transform: scale(97%);
}



.card h2{
    position: absolute;
    top: 10%;
    font-size:48px;
}



.banner{
    color: white;
    display: flex;
    justify-self: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    background-color:rgba(255, 255, 255,.1);
    border: 2px solid rgba(255, 255, 255,.2) ;
    height: 350px;
    width: 90dvw;
    justify-self: center;
    border-radius: 15px;    
    margin-top: 200px;
    text-shadow: 1px 1px 1px black;
    position: relative;
    box-shadow: 0 0 15px 15px rgb(163, 0, 0) ;
}


#c:checked ~ .country{
    left:80vw 
}
.country{
    display: flex;
    font-size: 20px;
    flex-direction: column;
    position: absolute;
    background: url("navbarbackround.jpg");
    border: 2px solid rgba(255, 255, 255,.2) ;
    width: 150dvw;
    height: auto;
    top: 9.5vh;
    left:110vw ;
    margin-right: 10px;
    transition: .3s;
    z-index: 10;
   overflow: scroll;
}
.country a{
    color: white;
    text-decoration: none;
    padding-right: 100px;
    padding-top: 10px;
    padding-left: 10px;
    transition: .3 ease-in-out;
    font-weight: lighter;
}
.country a:hover{
    background-color: rgb(88, 2, 2);
    backdrop-filter: blur(10px);
    box-shadow: 2px 2px 2px 2px rgb(116, 116, 116) ;
    padding-left: 20px;
    color: rgb(202, 202, 202);
    
}
.countrysidebar{
    display: flex;
    font-size: 20px;
    flex-direction: column;
    background-color:rgba(83, 83, 83, 0.582);
    border: 2px solid rgba(255, 255, 255,.2) ;
    width: 500px;
    height:300px;
    overflow-y: auto;
    margin-top: 10px;
    margin-right: 10px;
}
.countrysidebar a{
    padding-top: 0;
}
.w img{
    width: 100px; 
    height: 100px;  
    object-fit:cover;
    border-radius: 50%;
}
.w{
    width: 100px;
    height: 100px;
    position: relative;
    margin-right: 10px;
}
.w::after,.w::before{
    content: '';
    position: absolute;
    width: 100px; 
    height: 100px;  
    left: 50%;
    top: 50%;
    background: rgb(255, 0, 0);
    z-index: -1;
    padding: 5px;
    background-image: conic-gradient(red,blue,green,red);
    border-radius: 50%;
    animation: 3s spin linear infinite;
}
.w::before{
    filter: blur(3rem);
    opacity: 0.5;
    width: 150px; 
    height: 150px; 
    filter: blur(15px);
    
}

@keyframes spin {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
.footer{
    width: 100%;
    height: 35vh;
    display: flex;
    align-items: center;
    backdrop-filter: blur(5px);
    font-size: large;
    background-color:rgba(255, 255, 255,.1);
    border: 2px solid rgba(255, 255, 255,.2) ;
    margin-top: 30px;
    flex-wrap: wrap;
    justify-content: center;
    background: url("navbarbackround.jpg");
}
.footercontent a{
    display: flex;
    flex-wrap: wrap;
    color: white;
    text-decoration: none;
    padding: 10px;
    text-shadow: 3px 3px  rgb(0, 0, 0);

}
.footercontent a:hover{
    color:rgb(255, 0, 0);
    transform: scale(95%);
}

.container{
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.158);
    backdrop-filter: blur(1px);
    width: 100%;
    height: auto; 
    margin-top: 150px;
}
.container iframe{
    max-width: 500px;
    width: 90%;
    height: 400px;
    border: green solid 3px ;
    border-radius: 8px;
    box-shadow: 0 0 10px 10px darkred;
}
.container h1{
    font-size: xxx-large;
}
.container p {
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
}
.container b{
    color: rgb(180, 0, 0);
    font-size: xx-large;
}
.container h2{
    color: white;
    font-size: 600;
    text-shadow: 1px 1px 10px black;

}
.container strong{
    color: red;
}
.recipe{
    padding-top: 20px;
}
.tips{
    color: white;
    background-color: rgba(139, 0, 0, 0.349);
    border: green solid 2px;
    padding: 10px;
    border-radius: 20px;
    margin: 10px;

}
.tips b{
    color: darkblue;
}
